@use "functions" as *;

@mixin button {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: rem(500);
}

@mixin blurred-background($blur: 40px, $color: linear-gradient(to bottom, rgba(37, 37, 37, 0.55), rgba(37, 37, 37, 0.55))) {
  @include button;
  position: relative;
  background: none;

  &::before {
    border-radius: rem(500);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur($blur); 
    background: $color;
    z-index: -1;
  }
}