@use "functions" as *;

$default-blurred-color: linear-gradient(to bottom, rgba(37, 37, 37, 0.55), rgba(37, 37, 37, 0.55));
$default-active-blurred-color: linear-gradient(to bottom, rgba(37, 37, 37, 0.9), rgba(37, 37, 37, 0.9));

@mixin blurred-background($color: $default-blurred-color, $active-color: $default-active-blurred-color, $backdrop-filter: blur(40px)) {
  position: relative;
  background: transparent;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: $backdrop-filter; 
    background: $color;
    border-radius: rem(500);
    z-index: -1;
  }
  
  &:active::before {
    background: $active-color !important;
  }
} 