@use "../helpers" as *;

.slider {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.message {
  width: 100vw;
  height: 100vh;
  align-items: center;
  scroll-snap-align: start;
  overflow: hidden;
}

.message__image {
  z-index: -5;
  position: relative;
  width: 100%;

  .image__background {
    filter: blur(rem(30));
    object-fit: cover;
  }

  .image--contain {
    object-fit: contain;
  }

  .image__shadow {
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, .8) 80%);
  }

  .image__text-opened {
    background: rgba(0, 0, 0, 0.6);
  }
}

.message__info {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: calc($desktop-top + rem(38)) rem(12) rem(18) rem(12);
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &--mobile-padding {
    padding-top: (var(--mobile-top) + rem(38));
  }
}

.message__info-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: rem(20);
  flex-grow: 1;
  height: 0;
}

.text-scroll {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 85%;
  height: rem(100);
  max-height: 93%;
  margin-right: rem(16);
  transition: height 0.2s ease;
  
  &--height {
    height: 100%;
    transition: height 0.4s ease-out;
  }
  
  svg {
    margin-bottom: rem(8);
    min-height: rem(14);
    transition: transform 0.2s linear;
  }

  p {
    margin: 0;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: hidden;

    height: auto;
    width: 100%;
    font-size: rem(15);
    line-height: 130%;
  }
}

.svg--rotate {
  transform: scaleY(-1);
}

.message__info-statistics {
  display: flex;
  flex-direction: column;

  .button {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(8) rem(6);
    
    &:active {
      border-radius: rem(10);
      background: rgba(37, 37, 37, 0.55);
    }

    span {
      margin-top: rem(8);
      font-size: rem(13);
      font-weight: 600;
      line-height: 138%;
    }
  }
}

.message__info-channel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .channel__info {
    display: flex;
    flex-direction: row;
    width: rem(181);

    img {
      width: rem(38);
      height: rem(38);
      margin-right: rem(8);
      border-radius: 50%;
    }

    .channel__info-text {
      display: flex;
      flex-direction: column;
      width: rem(90);

      .channel-name {
        font-weight: 700;
        font-size: rem(15);
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 133%;
        width: 100%;
      }

      .channel-last-time {
        font-weight: 400;
        font-size: rem(13);
        line-height: 138%;
        letter-spacing: rem(-0.01);
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .channel__goto-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: rem(10) rem(14);
    box-sizing: border-box;

    svg {
      color: var(--color-gray);
      margin-right: rem(8);
    }

    span {
      color: var(--color-gray);
      font-size: rem(15);
      font-weight: 400;
      letter-spacing: rem(-0.04);
      line-height: 130%;
    }
  }
}