@using tgtrends_front.Data
@using tgtrends_front.Pages.Components
@using tgtrends_front.Services

@inject ChannelsService ChannelsService
@inject IJSRuntime JsRuntime
@inject TelegramService TelegramService

@page "/"
@page "/feed"

<HeadContent>
    <link href="styles/feed.css" rel="stylesheet" />
</HeadContent>

<div class="header">
    <div class="header__dropdown">
        <button class="button">For You</button>
        <svg width="24" height="13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.0071 12C12.3226 12 12.638 11.8979 12.853 11.6811L21.6559 3.79846C21.8709 3.60714 22 3.35203 22 3.05867C22 2.45918 21.4981 2 20.8243 2C20.5089 2 20.1936 2.12755 19.9784 2.30612L11.3333 10.0229H12.6666L4.0215 2.30612C3.80645 2.12755 3.51971 2 3.18996 2C2.51613 2 2 2.45918 2 3.05867C2 3.35203 2.12903 3.60714 2.34409 3.79846L11.1613 11.6811C11.3907 11.8979 11.6774 12 12.0071 12Z" fill="white" />
        </svg>
        <div class="dropdown__content">
            <button class="button">Following</button>
            <button class="button">News</button>
            <button class="button">Humor</button>
            <button class="button">Facts</button>
            <button class="button">Music</button>
            <button class="button">Sports</button>
        </div>
    </div>
    <div class="header__info">
        <button class="info__tokens button button--blurred">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="20" height="20" rx="10" fill="white" />
                <path d="M9.05518 15.2844V6.30493H5.80322V4.71558H14.1968V6.30493H10.9448V15.2844H9.05518Z" fill="black" />
            </svg>
            <span>200</span>
        </button>
        <button class="header__profile button button--blurred">
            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.77881 15.6104C1.12581 15.6104 0.666504 15.5163 0.400879 15.3281C0.140788 15.1455 0.0107422 14.8716 0.0107422 14.5063C0.0107422 13.9751 0.171224 13.4134 0.492188 12.8213C0.813151 12.2292 1.27799 11.6758 1.88672 11.1611C2.49544 10.641 3.22868 10.2204 4.08643 9.89941C4.94971 9.57292 5.91813 9.40967 6.9917 9.40967C8.0708 9.40967 9.03923 9.57292 9.89697 9.89941C10.7603 10.2204 11.4935 10.641 12.0967 11.1611C12.7054 11.6758 13.1702 12.2292 13.4912 12.8213C13.8177 13.4134 13.981 13.9751 13.981 14.5063C13.981 14.8716 13.8481 15.1455 13.5825 15.3281C13.3224 15.5163 12.8631 15.6104 12.2046 15.6104H1.77881ZM7 7.92383C6.40788 7.92383 5.86003 7.76335 5.35645 7.44238C4.85286 7.11589 4.44613 6.67871 4.13623 6.13086C3.83187 5.57747 3.67969 4.95768 3.67969 4.27148C3.67969 3.59635 3.83187 2.98763 4.13623 2.44531C4.44613 1.90299 4.85286 1.47412 5.35645 1.15869C5.86003 0.843262 6.40788 0.685547 7 0.685547C7.59212 0.685547 8.13997 0.840495 8.64355 1.15039C9.14714 1.46029 9.55111 1.88639 9.85547 2.42871C10.1654 2.96549 10.3203 3.57422 10.3203 4.25488C10.3203 4.94661 10.1654 5.56917 9.85547 6.12256C9.55111 6.67594 9.14714 7.11589 8.64355 7.44238C8.13997 7.76335 7.59212 7.92383 7 7.92383Z" fill="#FFFFFF" />
            </svg>
        </button>
    </div>
</div>
<div class="image image__shadow-top"></div>
<div class="slider">
    @foreach (var message in _messages)
    {
        <Message MessageData="message"></Message>
    }
</div>

@code
{
    private List<MessageData> _messages = new();
    private int _currentIndex = 0;
    
    protected override void OnInitialized()
    {
        ChannelsService.OnMessagesUpdated += UpdateMessages;
        UpdateMessages();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("scrollHandler.init", ".slider", ".message", DotNetObjectReference.Create(this));
        }
    }

    [JSInvokable(nameof(OnScrollIndexChanged))]
    public async Task OnScrollIndexChanged(int index)
    {
        _currentIndex = index;
        Console.WriteLine(_currentIndex);
        ChannelsService.LoadMoreMessages(index);
    }

    private void UpdateMessages()
    {
        _messages = ChannelsService.Messages;
        StateHasChanged();
    }
}
