@page "/404"
@layout MainLayout

<PageTitle>Not found</PageTitle>
<HeadContent>
    <link href="styles/not-found.css" rel="stylesheet"/>
</HeadContent>

<div class="not-found">
    <h1>Page not found! 404</h1>
    <div class="not-found__description">
        <span>Page not found. Please go <a href="" class="reload">to home</a>!</span>
    </div>
</div>
