:root {
  --color-light: #FFFFFF;
  
  --color-dark: #000000;
  --color-gray: rgba(255, 255, 255, 0.8);
  
  --color-red: #FFFFFF;
  --color-blue: #0088cc;
  
  --top-result-padding: 0;
  --bottom-result-padding: 0;
  
  --top-safe-area: 0;
  --bottom-safe-area: 0;
  
  --top-padding: 16;
  --top-fullsize-padding: 38;
  
  --bottom-padding: 16;
  
  --font-family-base: "SF Pro", sans-serif;
  --font-family-accent: "SF Pro", sans-serif;
 }