:root {
  --color-light: #FFFFFF;
  
  --color-dark: #000000;
  --color-gray: rgba(255, 255, 255, 0.8);
  
  --color-red: #FFFFFF;
  --color-blue: #01B2FE;
  
  --top-custom-padding: 8;
  --bottom-custom-padding: 16;
  
  --font-family-base: "SF Pro", sans-serif;
  --font-family-accent: "SF Pro", sans-serif;
 }